main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

.header {
    height: 5rem;
}

.one__light {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.one__light__lamp {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 7rem;
    height: 7rem;
    border-radius: 50%;
}

.one__light__lamp.__black {
    background-color: black;
    color: white;
}

.one__light__lamp.__red {
    background-color: red;
    color: white;
}

.one__light__lamp.__yellow {
    background-color: yellow;
    color: black;
}

.one__light__lamp.__green {
    background-color: green;
    color: white;
}

.one__light__lamp:hover {
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.6);
    transition: .3s;
    cursor: pointer;
}

.one__light__off {
    margin-top: 1rem;
}

.one__light__off:hover {
    background-color: var(--button-active-color);
    transition: .3s;
    border-radius: .75rem;
    cursor: pointer;
}

.see__also {
    margin-top: 5rem;
}

.see__also::before {
    content: 'Дополнительно';
    background-color: rgb(247, 93, 72);
    color: white;
    border-radius: .5rem;
    font-size: 1rem;
    padding: .3rem;
    margin-right: .75rem;
    box-shadow: 5px 3px 10px rgba(0, 0, 0, 0.6);
    text-shadow: 2px 2px 1px black;
}
